#main {
    min-width: 24%;
    width: 30em;

    max-width: 100%;

    border: 1px black solid;

    padding: 2em;

    margin: 0 auto;

    text-align: center;
    font-family: 'Quicksand', sans-serif;
}