/*
Available fonts

Geometric
font-family: 'Staatliches', cursive;

HandWritten (sketchy)
font-family: 'Rock Salt', cursive;
font-family: 'Permanent Marker', cursive;

HandWritten (straight)
font-family: 'Fredericka the Great', cursive;
font-family: 'Amatic SC', cursive;

Light
font-family: 'Dosis', sans-serif;
font-family: 'Quicksand', sans-serif;

Regular
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;

*/

body {
    margin: 0;
    
    font-family: 'Quicksand', sans-serif;
    color: rgb(64,65,66);
}
canvas { width: 100%; height: 100% }

#background {
    z-index: -10;
    position: fixed;
    top: 0;
    right: -6%;
}

#main {
    min-width: 65%;
    max-width: 920px;
    margin: 2em auto;
}

.icon{
    float: left;
    padding-right: 0.3em;
}
li{
    list-style: none;
}
li.no-bullet::before{
    content: none;
}
ul li::before {
    list-style: none;
    content: "»";
    color: #9b9b9b;
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.left-column{
    float: left;
    width: 33.3%;
    padding: 1em;
    box-sizing: border-box;
}
.right-column{
    float: right;
    width: 66.6%;
    padding: 1em;
    box-sizing: border-box;
}
.section{
    clear: both;
}

@media print {
    #main {
        max-width: 100%;
        /* margin: 2em auto; */
        margin: 0;
    }
    
    #print {
        display: none;
    }
    
    .section{
        clear: none;
    }
}

img{
    width: 80%;
    margin: 0 10%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* .grey_background {
    padding: 0.4em 1em;
    background-color: rgba(0,0,0,.65);
} */
h1{
    margin-top: 2em;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Staatliches', cursive;
    color: rgb(64,65,66);
    
    padding: 0.4em 1em;
    margin: 0;
    border-bottom: 1px dotted rgba(208,213,215,.5);
    /* border-right: 1px dotted rgba(208,213,215,.5); */
    
    display: inline-block;
    box-sizing: border-box;
    
    width: 100%;
    
    /* font-size: 120%; */
}
h2 {padding-left: 5%;}
h3 {padding-left: 10%;}
ul {
    font-family: 'Quicksand', sans-serif;
    color: rgb(44, 44, 44);
    
    display: inline-block;
    /* max-width: 34%; */
}
p {
    color: hsl(0,5%,60%);
    font-family: 'Permanent Marker', cursive;
    
    /* display: inline-block; */
    max-width: 42%;
    
    float: right;
    
    /* border-left: solid hsl(0,5%,60%) 2px; */
    padding-left: 1em;
}

.grey {
    color: #9b9b9b;
}

em {
    color: rgb(8, 120, 115); /* rgb(47,133,107);*/
}
#print {
    position: fixed;
    top: 0;
    right: 0;
    width: 62px;
    height: 62px;
    margin: 12px;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    
    border: 1px solid rgba(208,213,215,.5);
}
#print img {
    max-width: 100%;
    max-height: 100%;
}

.hidden li{
    display: none;
}
.hidden:hover li{
    display: list-item;
}

.content-box {
    /* margin: 2em 3.6em; */
    
    
    /* float: right; */
    position: fixed;
    /* border-top: 2px solid black; */
    top: 0;
    right: 0;
    
    max-width: 38%;
    min-width: 390px;
    padding: 0;
    
}
.content-element {
    display: inline-block;
    
    /* padding: 0px 2px 4px; */
    border-bottom: 1px dotted rgba(208,213,215,.5);
    border-left: 1px dotted rgba(208,213,215,.5);
    background-color: rgba(0,0,0,.65);
    
    box-sizing: border-box;
}
.content-element img {
    width: 40%;
    float: left;
}
.big {
    width: 100%;
}
.mid{
    width: 50%;
    float: left;
}
.small {
    width: 100%;
    clear: both
}
.content {
    display: inline-block;
    width: 50%;
    padding: 1em;
    box-sizing: border-box;
}

@media (max-width: 920px) {
    .content-box {
        /* margin: 0.5em 0; */
        
        position: inherit;
        
        border: none;
        
        max-width: 100%;
        min-width: inherit;
        padding: 0;
        
    }
    #side-menu {
        width: 100%;
        border: none;
    }
    
    .section{
        clear: none;
    }
}

@media (max-width: 620px) {
    .left-column{
        float: none;
        width: 100%;
    }
    .right-column{
        float: none;
        width: 100%;
    }
    img{
        width: 60%;
        margin: 0 20%;
    }
}